[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
lending_market = "EkAeaMi5vj8HEJ1wSc2cmeiFMqcWFgngp1J6F3wF6gq1"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test -- --show-output"